<!DOCTYPE html>
<html>
<head>
    <title>Employment Terms</title>
</head>
<body>
    <h1>Employment Terms</h1>
    <a href="{% url 'employment_terms_create' %}">Add Employment Terms</a>
    <ul>
        {% for term in terms %}
            <li>
                <strong>{{ term.employee.first_name }} {{ term.employee.last_name }}</strong><br>
                Agreed Salary: {{ term.agreed_salary }}<br>
                Start Date: {{ term.salary_start_date }}<br>
                End Date: {{ term.salary_end_date }}<br>
                <a href="{% url 'employment_terms_update' term.pk %}">Edit</a> -
                <a href="{% url 'employment_terms_delete' term.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>